<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

</head>
<body>

<button class="btn btn-secondary" onclick="topFunction()" id="myBtn" title="Go to top">Top</button>


<!-- Modal -->
<div class="modal fade" id="basketModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Added to basket!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Login successful!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="orderModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Order placed successfully!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Account created successfully!!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>


<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Welcome to The Round Table</h1>
            <p class="lead text-muted">The Round Table is your one stop shop for all your weaponry needs. Our products range from authentic medieval swords to the most well known swords from fiction.</p>
            <p>
                <button class="btn btn-sm btn-outline-secondary" id="show-basket">Basket</button>
                <button class="btn btn-sm btn-outline-secondary" id="show-product">Product</button>
                <button class="btn btn-sm btn-outline-secondary"  id="show-login">Sign in</button>
            </p>
        </div>
    </div>
</section>


<div class="form-signin" id="login-cont" style="display: none">
    <form method="POST", action="." id="login-form">
        <h1 class="h3 mb-3 fw-normal">Sign in</h1>

        <div class="form-floating">
            <input type="text" name="username" class="form-control" id="form-username" placeholder="Username">
            <label for="username">Username</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="form-password" name="password" placeholder="Password">
            <label for="password">Password</label>
        </div>
        <input class="w-100 btn btn-lg btn-sm btn-outline-secondary" type="submit" value="Sign in" data-bs-toggle="modal" data-bs-target="#loginModal">
    </form>
</div>


<div class="album py-5" id="product-container" style="display: none">
    <div class="container">
        <div id="product-cards" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <!--- products go here --->
        </div>

    </div>

</div>

<div class="album py-5" id="shopping-basket" style="display: none">
    <div class="container">
        <div id="basket-cards" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <!--- products go here --->
        </div>
        <button class="btn btn-sm btn-outline-secondary" id="checkout-form-button" type="submit">Checkout</button>

    </div>

</div>


<div class="form-signin" id="checkout" style="display: none">
    <form id="checkout-form" method="POST", action=".">
        <div class="mb-3">
            <label class="form-label" for="shipping_addr">Shipping Address</label>
            <input class="form-control" type="text" name="shippping_addr" id="shippping_addr">
        </div>
        <div class="mb-3">
            <label class="form-label" for="card_num">Debit/Credit card number</label>
            <input class="form-control" type="text" name="car_num" id="card_num">
        </div>
            <button class="btn btn-sm btn-outline-secondary" id="checkout-button" type="submit" data-bs-toggle="modal" data-bs-target="#orderModal">Checkout</button>
    </form>
</div>



<script>
    function getProduct() {

        hideProduct();


        const div2 = document.getElementById('basket-cards');
        while(div2.firstChild){
            div2.removeChild(div2.firstChild);
        }


        fetch("http://localhost:8000/api/products/?format=json")
            .then(response => response.json())
            .then(data => {

                var div = document.getElementById('product-cards');
                while(div.firstChild){
                    div.removeChild(div.firstChild);
                }

                console.log(data);
                data.forEach(element => {  // for i in array:


                    let container = document.getElementById("product-cards")

                    let column = document.createElement("div")
                    column.classList.add("col")
                    container.appendChild(column)

                    let card = document.createElement("div")
                    card.classList.add("card")
                    card.classList.add("shadow-sm")
                    column.appendChild(card)

                    let card_img = document.createElement("img")
                    card_img.classList.add("card-img-top")
                    card_img.src = element['picture']
                    card_img.width = 100
                    card_img.height = 225
                    card.appendChild(card_img)

                    let card_body = document.createElement("div")
                    card_body.classList.add("card-body")
                    card.appendChild(card_body)

                    let prod_name = document.createElement("h5")
                    prod_name.classList.add("card-title")
                    prod_name.innerHTML = element['name']
                    card_body.appendChild(prod_name)

                    let prod_desc = document.createElement("p")
                    prod_desc.classList.add("card-text")
                    prod_desc.innerHTML = element['description']
                    card_body.appendChild(prod_desc)

                    let cont = document.createElement("div")
                    cont.classList.add("d-flex")
                    cont.classList.add("justify-content-between")
                    cont.classList.add("align-items-center")
                    card_body.appendChild(cont)

                    let button = document.createElement("button")
                    button.classList.add("btn", "btn-sm", "btn-outline-secondary")
                    button.setAttribute("data-bs-toggle", "modal")
                    button.setAttribute("data-bs-target", "#basketModal")
                    button.innerHTML = "Add to basket"
                    button.addEventListener('click', function(){
                        addToBasket(element['id'])
                    })
                    cont.appendChild(button)

                    let prod_price = document.createElement("p")
                    prod_price.classList.add("card-text")
                    prod_price.innerHTML = "€" + element['price']
                    cont.appendChild(prod_price)
            });
    })
    }

    function hideProduct() {
        var x = document.getElementById("product-container");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    let loginform = document.getElementById("login-form")
    loginform.addEventListener("submit", (event)=>{
        event.preventDefault();
        // get the data out of the form
        let user = document.getElementById("form-username").value
        let pass = document.getElementById("form-password").value
        // build a POST request to /token/
        fetch("http://localhost:8000/token/", {
            method:'POST',
            headers:{
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body:JSON.stringify( {username:user, password:pass})  //{username: test, password:Testing123456}
        }).then(response => response.json()).then(function(data){
            console.log(data)
            window.token = data['token']
            hideLogin();

        })
        // extract token from the response
    } , true)


    function hideLogin() {
        var x = document.getElementById("login-cont");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }


    function addToBasket(productId){
        if(window.token){
            fetch("http://localhost:8000/addbasket/"+productId+"?format=json",{
                method:'GET',
                headers:{
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    'Authorization': 'Token '+window.token
                }
            }).then(function(response){
                console.log(response)
                return  response.json()
            }).then(data=>console.log(data));
        }
        else{
            alert("Please log in to continue");
        }
    }

    function showBasket(){

        const div = document.getElementById('product-cards');
        while(div.firstChild){
            div.removeChild(div.firstChild);
        }

        const div2 = document.getElementById('basket-cards');
        while(div2.firstChild){
            div2.removeChild(div2.firstChild);
        }

        if(window.token){
            fetch("http://localhost:8000/basket/?format=json",{
                method:'GET',
                headers:{
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    'Authorization': 'Token '+window.token
                }
            }).then(response => response.json()).then(data=>{
                data['items'].forEach(element =>{



                    let container = document.getElementById("basket-cards")

                    let column = document.createElement("div")
                    column.classList.add("col")
                    container.appendChild(column)

                    let card = document.createElement("div")
                    card.classList.add("card")
                    card.classList.add("shadow-sm")
                    column.appendChild(card)


                    let card_body = document.createElement("div")
                    card_body.classList.add("card-body")
                    card.appendChild(card_body)

                    let prod_name = document.createElement("h5")
                    prod_name.classList.add("card-title")
                    prod_name.innerHTML = element['product']
                    card_body.appendChild(prod_name)

                    let prod_quant = document.createElement("p")
                    prod_quant.classList.add("card-text")
                    prod_quant.innerHTML = "Quantity: " +element['quantity']
                    card_body.appendChild(prod_quant)

                    let prod_price = document.createElement("p")
                    prod_price.classList.add("card-text")
                    prod_price.innerHTML = "Price: " + "€" + element['price']
                    card_body.appendChild(prod_price)


                })


                var x = document.getElementById("shopping-basket");
                if (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }

            });
        }
        else{
            alert("Please log in to continue");

        }
    }



    let showbb = document.getElementById("show-basket")
    showbb.addEventListener("click", (event)=>{
        event.preventDefault();
        showBasket();
    })

    let showprod = document.getElementById("show-product")
    showprod.addEventListener("click", (event)=>{
        event.preventDefault();
        getProduct();
    })

    let showLogin= document.getElementById("show-login")
    showLogin.addEventListener("click", (event)=>{
        event.preventDefault();
        var div = document.getElementById('product-cards');
        while(div.firstChild){
            div.removeChild(div.firstChild);
        }
        hideLogin();
    })

    let showsignup= document.getElementById("show-signup")
    showsignup.addEventListener("click", (event)=>{
        event.preventDefault();
        hideSignup();

    })


    let showCheckout = document.getElementById("checkout-form-button")
    showCheckout.addEventListener("click", (event)=>{
        event.preventDefault();
        var x = document.getElementById("checkout");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    })


    let checkoutbutton = document.getElementById("checkout-button");
    checkoutbutton.addEventListener("click", (event)=>{
        event.preventDefault();
        // get the value for the shipping addr
        let sp_addr = document.getElementById("shippping_addr").value;
        let num = document.getElementById("card_num").value;
        fetch("http://localhost:8000/checkout/?format=json", {
            method:'POST',
            headers:{
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                'Authorization': 'Token '+window.token
            },
            body:JSON.stringify( {shipping_addr:sp_addr, card_num:num})
        }).then(function(response){
            console.log(response)
            return response.json()
        }).then(function(data){
            console.log(data)
            showBasket();
        })
        let x = document.getElementById("checkout-form")
        let y = document.getElementById("shopping-basket")
        x.style.display = "none"
        x.style.display = "none"
    }, true);


    //Get the button
    var mybutton = document.getElementById("myBtn");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }


</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>
