{% extends "base.html" %}
{% load static %}

{% block title %}My homepage{% endblock %}


{% block content %}
<section id="cover" class="min-vh-100">
    <div id="cover-caption">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                    <div class="px-2">
                    <h1>Welcome to The Round Table!</h1>
                        <p>This website is a work in progress.</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}